body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    margin: 0;
}

nav {
    background-color: #333; 
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1; 
	text-align: center;
}

nav a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block; 
}

#home p {
    width: 66.66%;
    margin: 20px auto; 
    text-align: center;
    padding-top: 20px;
}

#info {
    padding-left: 50px;
}

.info-image {
    float: left;
    margin-right: 20px;
}

footer {
    background-color: #333;
    color: gold;
    padding: 20px;
    text-align: center;
    clear: both; 
}

footer a {
    color: gold;
}